<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auggie.student_server.mapper.StudentCourseMapper">
    <select id="findByStudentId" resultType="CourseTeacherInfo">
        SELECT ct.cno,c.cid, c.cname, t.tid, t.tname, sc.daily_grade, c.ccredit
        FROM studentms.sc sc
                 INNER JOIN studentms.s s ON sc.sid = s.sid
                 INNER JOIN studentms.ct ct ON sc.cno = ct.cno
                 INNER JOIN studentms.c c ON ct.cid = c.cid
                 INNER JOIN studentms.t t ON ct.tid = t.tid
        WHERE sc.sid = #{sid} AND sc.term = #{term}
    </select>

    <select id="findBySearch" resultType="scInfo">
        SELECT ct.cno,c.cid, c.cname, t.tid, t.tname, s.sid, s.sname, sc.daily_grade, sc.term
        FROM studentms.sc sc
                INNER JOIN studentms.s s ON sc.sid = s.sid
                INNER JOIN studentms.ct ct ON sc.cno = ct.cno
                INNER JOIN studentms.c c ON ct.cid = c.cid
                INNER JOIN studentms.t t ON ct.tid = t.tid
        <where>
            <if test="sid != null">
                s.sid = #{sid}
            </if>
            <if test="tid != null">
                AND t.tid = #{tid}
            </if>
            <if test="cid != null">
                AND c.cid = #{cid}
            </if>
            <if test="sname != null">
                <if test="sFuzzy == 0">
                    AND s.sname = #{sname}
                </if>
                <if test="sFuzzy == 1">
                    AND s.sname LIKE CONCAT('%', #{sname}, '%')
                </if>
            </if>
            <if test="tname != null">
                <if test="tFuzzy == 0">
                    AND t.tname = #{tname}
                </if>
                <if test="tFuzzy == 1">
                    AND t.tname LIKE CONCAT('%', #{tname}, '%')
                </if>
            </if>
            <if test="cname != null">
                <if test="cFuzzy == 0">
                    AND c.cname = #{cname}
                </if>
                <if test="cFuzzy == 1">
                    AND c.cname LIKE CONCAT('%', #{cname}, '%')
                </if>
            </if>
            <if test="term != null">
                AND sc.term = #{term}
            </if>
            <if test="lowBound != null">
                AND sc.grade >= #{lowBound}
            </if>
            <if test="highBound != null">
                AND #{highBound} >= sc.grade
            </if>
        </where>
    </select>
</mapper>